* {
    margin: 0;
    padding: 0;
}

#wrapper {
    /* background: rgb(143, 104, 205); */
    width: 90vw;
    height: 180vh;
    margin: 0 auto;
    margin-top: 5vh;


}

.cont {
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 10%;
    width: 80%;
    height: 42%;
    color: rgb(108, 87, 107)
}

#a {
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;

}

#aa {
    color: rgb(224, 85, 201);
    ;

}

#ab {
    color: rgb(143, 104, 205);

}

#ac {
    color: rgb(73, 192, 198);

}

#a p {
    font-weight: 600;

}

#a ul {
    list-style-type: none;
    padding-left: 10px;
}

#a ul li {
    margin: 8px;
    padding: 2px;


}